<div class="header">注册</div>
<div class="content">
  <form class="ui form" {{action "join" on="submit"}}>
    <div class="field">
      <label for="">用户名</label>
      {{input type='text' value=username}}
    </div>
    <div class="field">
      <label for="">密码</label>
      {{input type='password' value=password}}
    </div>
    <div class="field">
      {{input type='submit' class='ui submit button' value='注册'}}
    </div>
  </form>
</div>
