<div class="ui page grid">
  <nav class="ui text menu navbar column">
    <div class="left menu">
      <a href="" class="item">Deyeen</a>
    </div>
    <div class="right menu">
      <a href="" class="item">登录</a>
      <a href="" class="item">注册</a>
    </div>
  </nav>
</div>

<div class="ui divider"></div>
<div class="ui page grid">
  <div class="row">
    <div class="column">
      <div class="ui huge message page grid center aligned">
        <h1 class="ui huge header">Jumbotron heading</h1>

        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo,
          tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="ui green button">Sign up today</a>
      </div>
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui page grid">
  <div class="two column row">
    <div class="column">
      <h2 class="ui medium header">Subheading</h2>

      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
    <div class="column">
      <h2 class="ui medium header">Subheading</h2>

      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
  </div>
  <div class="two column row">
    <div class="column">
      <h2 class="ui medium header">Subheading</h2>

      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
        fermentum.</p>
    </div>
    <div class="column">
      <h2 class="ui medium header">Subheading</h2>

      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
        fermentum.</p>
    </div>
  </div>
  <div class="two column row">
    <div class="column">
      <h2 class="ui medium header">Subheading</h2>

      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
    <div class="column">
      <h2 class="ui medium header">Subheading</h2>

      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="ui divider"></div>
      <span>© Company 2014</span>
    </div>
  </div>
</div>
