<div class="ui page grid">
  <nav class="ui text menu navbar column">
    <div class="left menu">
      <a href="" class="item">Deyeen</a>
    </div>
    <div class="right menu">
      <a href="" class="item" {{action 'signin'}}>登录</a>
      <a href="" class="item" {{action 'signup'}}>注册</a>
    </div>
  </nav>
</div>
